<div class="todo-item" (click)="onClick()">
    <div class="todo-item__header">
      <h3>{{ task.name }}</h3>
      <span class="todo-item__status-icon">
        {{ task.isDescriptionShow ? '-' : '+' }}
      </span>
    </div>
    
    <div class="description">
      <p>{{ task.isDescriptionShow ? task.description : '' }}</p>
    </div>
    
    <div class="actions" (click)="$event.stopPropagation()">
      <button (click)="onEdit()">Изменить</button>
      <button (click)="onDelete()">Удалить</button>
    </div>
  </div>