<div class="modal" *ngIf="isOpen" (click)="onClose()">
  <div class="modal__content" (click)="$event.stopPropagation()">
    <button class="close__btn" (click)="onClose()">&times;</button>

    <h2>{{ task ? "Изменить задачу" : "Добавить новую задачу" }}</h2>

    <form [formGroup]="taskForm">
      <div class="form__group">
        <label>Название</label>
        <input
          type="text"
          formControlName="name"
          placeholder="Введите название задачи"
          [class.invalid]="
            taskForm.get('name')?.invalid && taskForm.get('name')?.touched
          "
        />
        <div
          *ngIf="taskForm.get('name')?.invalid && taskForm.get('name')?.touched"
          class="error-message"
        >
          <small *ngIf="hasAnyErrors('name', 'required')"
            >{{getErrorText('name', 'required')}}</small
          >
          <small *ngIf="hasAnyErrors('name', 'minLength')"
            >{{getErrorText('name', 'minLength')}}</small
          >
          <small *ngIf="hasAnyErrors('name', 'maxWords')"
            >{{getErrorText('name', 'maxWords')}}</small
          >
        </div>
      </div>

      <div class="form__group">
        <label>Дата выполнения: </label>
        <input
          type="date"
          formControlName="deadlineDate"
          [class.invalid]="
            taskForm.get('deadlineDate')?.invalid &&
            taskForm.get('deadlineDate')?.touched
          "
          required
        />
        <div
          *ngIf="
            taskForm.get('deadlineDate')?.invalid &&
            taskForm.get('deadlineDate')?.touched
          "
          class="error-message"
        >
          <small *ngIf="hasAnyErrors('deadlineDate', 'futureDate')"
            >{{getErrorText('deadlineDate', 'futureDate')}}</small
          >
          <small *ngIf="hasAnyErrors('deadlineDate', 'required')"
            >{{getErrorText('deadlineDate', 'required')}}</small
          >
        </div>
      </div>

      <div class="form__group">
        <label>Описание</label>
        <textarea
          formControlName="description"
          placeholder="Введите описание"
          [class.invalid]="
            taskForm.get('description')?.invalid &&
            taskForm.get('description')?.touched
          "
        ></textarea>
        <div
          *ngIf="
            taskForm.get('description')?.invalid &&
            taskForm.get('description')?.touched
          "
          class="error-message"
        >
          <small *ngIf="hasAnyErrors('description', 'required')"
            >{{getErrorText('description', 'required')}}</small
          >
        </div>

        <div class="form__group">
          <label>Приоритет</label>
          <choose-priority 
          formControlName="priority" 
        ></choose-priority>
        </div>
      </div>

      <div class="modal__actions">
        <button
          class="save__btn"
          (click)="onSave()"
          [disabled]="taskForm.invalid"
        >
          Сохранить
        </button>
      </div>
    </form>
  </div>
</div>
