<div class="modal" *ngIf="isOpen" (click)="onClose()">
  <div class="modal__content" (click)="$event.stopPropagation()">
    <button class="close__btn" (click)="onClose()">&times;</button>
    
    <h2>{{ todo ? 'Изменить задачу' : 'Добавить новую задачу' }}</h2>
    
    <form [formGroup]="todoForm">
      <div class="form__group">
        <label>Название</label>
        <input 
          type="text" 
          formControlName="name" 
          placeholder="Введите название задачи"
          [class.invalid]="todoForm.get('name')?.invalid && todoForm.get('name')?.touched">
        
      </div>
      
      <div class="form__group">
        <label>Описание</label>
        <textarea 
          formControlName="description" 
          placeholder="Введите описание">
        </textarea>
      </div>
      
      <div class="modal__actions">
        <button 
          class="save__btn" 
          (click)="onSave()" 
          [disabled]="todoForm.invalid">
          Сохранить
        </button>
      </div>
    </form>
  </div>
</div>