<div class="todo">
  <h1 class="todo__title">TO-DO List</h1>

  <button (click)="openModal()">Добавить задачу</button>

  <button (click)="filterByDate()" *ngIf="((tasks$ | async) ?? []).length > 1">
    Отфильтровать по дате (от ближайшей)
  </button>

  <div class="todo__list">
    <app-todo-item
      *ngFor="let task of tasks$ | async; trackBy: trackById"
      [task]="task"
      (showDescription)="showDescription(task.id)"
      (toggleComplete)="toggleComplete(task.id)"
      (edit)="openModal(task)"
      (delete)="deleteTodo(task.id)"
    ></app-todo-item>
  </div>

  <app-modal
    [isOpen]="isModalOpen"
    [task]="currentTask"
    (save)="handleModalSave($event)"
    (close)="closeModal()"
  ></app-modal>

  <div class="todo__search">
    <input 
      type="text"
      [(ngModel)]="searchText"
      placeholder="Поиск задачи по имени"
    >
    
    <div *ngIf="searchText">
      <div *ngFor="let task of (tasks$ | async) || [] | search : searchText">
        ============================== <br>
        Задача: {{ task.name}} <br>
        Когда: {{task.deadlineDate | date : "yyyy-MM-dd" }} <br>
        <span *ngIf="task.description">Описание: {{ task.description }}<br></span>
        ==============================
      </div>
      
      <div *ngIf="((tasks$ | async) || [] | search : searchText).length === 0">
        Задачи не найдены
      </div>
    </div>
  </div>
</div>
